<a href="https://colab.research.google.com/github/iwan3111/MACHINE_LEARNiNG_BASIC/blob/master/matplotlib2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import numpy as np
# untuk ploting data
import matplotlib
import matplotlib.pyplot as plt
#versi numpy dan matplotlib
print(matplotlib.__version__)
print(np.__version__)

### Membuat Ploting Sederhana

In [ ]:

# menggunakan pyplot
#listnya satu deret bilangan

plt.plot([2,5,7,10])
plt.ylabel("Y axis")
plt.show()

#  kalo kita hanya membuat hanya satu list bilangan, bilangan itu akan dinyatakan sebagai sumbu y
#sumbu x akan dibuat otomatis dari 0 1 2 3 ..... dst

In [ ]:
# kalo ada 2 deret bilangan deret pertama itu x axis dan yang kedua y axis
plt.plot([2,6,10,14,18,22],[4,5,7,10,14,19])
plt.xlabel("X axis")
plt.ylabel("Y axis")
plt.show()

# FORMAT PADA PLOT

In [ ]:
#nilai default parameter ketiga adalah "b-"
#pada parameter ketiga b = blue dan - = garis

plt.plot([2,6,10,14,18,22],[4,36,100,196,234,484], 'b-')
#plt.plot([2,6,10,14,18,22],[4,36,100,196,234,484])
#plt.axis untuk menyatakan batas axisnya [xmin,xmax,ymin,ymax]
plt.axis([0,30,0,500])
plt.xlabel("X axis")
plt.ylabel("Y axis")
plt.show()

# MULTIPLOT

In [ ]:
#BILANGAN YANG AKAN DIBUAT MENGGUNAKAN NUMPY
#buat deret arrya menggunakan numpy dengan
#batas minimun 0.
#batasmaksimum 0.8
#interval 0.1 
a = np.arange(0.,0.8,0.1)
a

In [ ]:
#buat grafik dengan matplotlib
plt.plot(a,a,'r--')
plt.plot(a,a**2,'b^')
plt.plot(a,a**3,'gs')
plt.plot(a,a**4,'y-')
plt.plot(a,a**5,'cs')
plt.show()

In [ ]:
#pemanggilan plot satu fungsi
plt.plot(a,a,'r--',
          a,a**2,'b^',
          a,a**5,'cs'

          )
plt.show()

# PLOTING DATA FRAME/DICTIONARY

In [ ]:
#kita akan memplot data yang ada dalam sebuah frame/dictionary
#data a menggunakan np.arange
#b menggunakakan random.randint artinya pengecakan bialngan interger dari 0 sampai 20 sebanyak 20 data
#c meggunakan data raandom yang diacak sampai 50 data
#data d adalah persamaan kuadrat dengan x = adalah data a

data = {'a':np.arange(50),
        'b':np.random.randint(0,100,50),
        'c':np.random.randn(50)
    
}
data['d'] = data['a']**2 + 2*data['a'] + 1
data['e'] = np.abs(data['a'])
data

In [ ]:
#ploting data
#menggunakan  scatter plot 

plt.scatter('a','d',data=data)
plt.xlabel("X axis")
plt.ylabel("Y axis")
plt.show()

In [ ]:
#c untuk color yakni pada  b
# s for size using data e
plt.scatter('a','b',c='a',s='b',data=data)
plt.xlabel("X axis")
plt.ylabel("Y axis")
plt.show()

# Ploting Categorical Data

In [ ]:
groups =['JKT48','Noah','Ungu','Letto']
values = [48,3,5,4]

In [ ]:
#ploting biasa
plt.plot(groups, values)
plt.show()

In [ ]:
#ploting scatter
plt.scatter(groups, values)
plt.show()

In [ ]:
#ploting bar
plt.bar(groups, values)
plt.show()